[mysqld]
default-time-zone='+8:00'
#bind-address = 0.0.0.0
general_log = off
general_log_file = /var/log/mysql/query.log

concurrent_insert = 2
server-id=1 #主从序号
log-slave-updates=true
log-bin = mysql-bin
binlog_format = mixed
open_files_limit = 10240
expire_logs_days = 2

explicit_defaults_for_timestamp=true
skip-external-locking
skip-name-resolve
thread_cache_size = 8
max_connections = 1500

slow-query-log = 1
long_query_time = 0.5
slow-query-log-file = /var/log/mysql/slow.log

innodb_buffer_pool_size = 512M
innodb_log_buffer_size= 24M
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
